@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 10px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
section {
  margin: 30px 0;
}
#top-section {
  border: 1px solid #000000;
  padding:8px;
}

h1 {
  text-decoration: underline;
  margin-bottom: 25px;
}

a {
  color:#000000;
}
